= render HeaderComponent.new(title: @title, description: @description)

.divide-y.mt-10{class: "divide-white/5"}
  .grid.max-w-7xl.grid-cols-1.gap-x-8.gap-y-10.px-4.py-16.sm:px-6.md:grid-cols-3.lg:px-8
    %div
      %h2.text-base.font-semibold.leading-7.text-white Personal Information
      %p.mt-1.text-sm.leading-6.text-gray-400 Use a permanent address where you can receive mail.
    = form_with(model: current_user, url: manager_update_settings_path, method: :patch, local: true, class: 'md:col-span-2' ) do |form|
      .grid.grid-cols-1.gap-x-6.gap-y-8.sm:max-w-xl.sm:grid-cols-6
        .col-span-full.flex.items-center.gap-x-8{ data: { controller: "image-preview" } }
          %img.h-24.w-24.flex-none.rounded-full.bg-gray-800.object-cover{ alt: "Profile photo", src: (current_user.profile_photo.attached? ? url_for(current_user.profile_photo) : image_url('no_profile_photo.svg')), data: { image_preview_target: "preview" }}
          %div
            = form.file_field :profile_photo, direct_upload: true, class: 'hidden', data: { image_preview_target: "source", action: "change->image-preview#updatePreview" }
            %button.btn-primary{type: "button", data: { action: "image-preview#triggerUpload" } }
              = 'Change avatar'
            %p.mt-2.text-xs.leading-5.text-gray-400 JPG, GIF or PNG. 1MB max.

        .sm:col-span-3
          = render InputComponent.new(key: :first_name, label: 'Nombre', model: current_user, form: form)
        .sm:col-span-3
          = render InputComponent.new(key: :last_name, label: 'Apellidos', model: current_user, form: form)
        .col-span-full
          = render InputComponent.new(key: :email, type: 'email_field', label: 'Email', model: current_user, form: form)
        .col-span-full
          = render SelectComponent.new(key: :language, label: 'Idioma', options_for_select: options_for_select(User::PLATFORM_LANGUAGES.invert, current_user.language), placeholder: false, form: form)
        .col-span-full
          = render SelectComponent.new(key: :time_zone, label: 'Zona Horaria', options_for_select: options_for_select(ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] }, current_user.time_zone), placeholder: false, form: form)
      .mt-8.flex
        = form.submit 'Save', class: 'btn-primary'

  .grid.max-w-7xl.grid-cols-1.gap-x-8.gap-y-10.px-4.py-16.sm:px-6.md:grid-cols-3.lg:px-8
    %div
      %h2.text-base.font-semibold.leading-7.text-white Change password
      %p.mt-1.text-sm.leading-6.text-gray-400 Update your password associated with your account.
    = form_with(model: current_user, url: manager_password_change_path, method: :patch, local: true, class: 'md:col-span-2', data: {turbo:false}) do |form|
      .grid.grid-cols-1.gap-x-6.gap-y-8.sm:max-w-xl.sm:grid-cols-6

        .col-span-full
          = render InputComponent.new(key: :current_password, type: 'password_field', label: 'Current password', model: current_user, form: form)
        .col-span-full
          = render InputComponent.new(key: :password, type: 'password_field', label: 'New password', model: current_user, form: form)
        .col-span-full
          = render InputComponent.new(key: :password_confirmation, type: 'password_field', label: 'Confirm password', model: current_user, form: form)
      .mt-8.flex
        = form.submit 'Save', class: 'btn-primary'

  .grid.max-w-7xl.grid-cols-1.gap-x-8.gap-y-10.px-4.py-16.sm:px-6.md:grid-cols-3.lg:px-8
    %div
      %h2.text-base.font-semibold.leading-7.text-white Log out other sessions
      %p.mt-1.text-sm.leading-6.text-gray-400 Please enter your password to confirm you would like to log out of your other sessions across all of your devices.
    .md:col-span-2
      .mt-8.flex
        = button_to t('sidebar_component.log_out'), destroy_user_session_path, method: :delete, data: { turbo_confirm: t('settings.log_out_message') }, class: "btn-secondary"


  .grid.max-w-7xl.grid-cols-1.gap-x-8.gap-y-10.px-4.py-16.sm:px-6.md:grid-cols-3.lg:px-8
    %div
      %h2.text-base.font-semibold.leading-7.text-white Delete account
      %p.mt-1.text-sm.leading-6.text-gray-400 No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently.
    %form.flex.items-start.md:col-span-2
      %button.rounded-md.bg-red-500.px-3.py-2.text-sm.font-semibold.text-white.shadow-sm.hover:bg-red-400{type: "submit"} Yes, delete my account
