.flex.flex-col.justify-center.mt-10.px-6.py-12.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-md
    %h2.mt-10.text-center.text-2xl.font-bold.leading-9.tracking-tight.text-white
      = t('labels.sign_up_to_castvault')

  .mt-4.sm:mx-auto.sm:w-full.sm:max-w-md
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |registration_form|
      = render "devise/shared/error_messages", resource: resource

      = render InputComponent.new(form: registration_form, key: :email, type: 'email_field', label: t('labels.email'))

      .flex.gap-x-4
        = render InputComponent.new(form: registration_form, key: :first_name, type: 'text_field', label: t('labels.first_name'))
        = render InputComponent.new(form: registration_form, key: :last_name, type: 'text_field', label: t('labels.last_name'))
        
      = render InputComponent.new(form: registration_form, key: :password, type: 'password_field', label: t('labels.password'))
      = render InputComponent.new(form: registration_form, key: :password_confirmation, type: 'password_field', label: t('labels.password_confirmation'))

      .flex.justify-center
        = registration_form.submit t('labels.sign_up'), class: "btn-primary"

      %p.mt-2.text-center.text-sm.text-gray-600
        = t('labels.already_have_an_account')
        = link_to t('labels.log_in'), new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500"
