%tr
  %td{align: "center", style: "font-size:0px;padding:#{@padding};word-break:break-word;"}
    %div{style: "font-family:'Helvetica Neue',Arial,sans-serif;font-size:#{@font_size};line-height:#{@line_height};text-align:center;color:#555;#{@extra_styles}"}
      = @text.html_safe