= form_with model: [:manager, @form], local: true, data: { controller: "field-checkbox", turbo: false } do |form|
  = render HeaderComponent.new(title: @title, description: @description, buttons: @header_buttons)
  .mb-4.mt-10
    .mb-4.w-80
      = render InputComponent.new(key: :name, label: t('forms_controller.form_name_label'), placeholder: t('forms_controller.form_name_placeholder'), model: @form, form: form)
    .mb-4.flex.justify-start
      = render UploadFileComponent.new( form: form,
                                        model: :form,
                                        attribute: :description_photo,
                                        multiple: false,
                                        icon: 'camera',
                                        accepted_types: %w[png jpg jpeg heic],
                                        max_size_mb: 5 )

    = form.label :description, t('forms_controller.description_label'), class: 'block text-sm font-medium leading-6 text-sm text-shadowy-200'
    = form.rich_text_area :description, class: 'message-text-area-html mt-4', data: { scheduled_messages_target: 'textHtmlSelector' }


  .flex.items-center.mb-6.mt-10{data: { action: "click->field-checkbox#toggleCheckbox" } }
    = check_box_tag 'select_all', '1', false, class: 'hidden', data: { field_checkbox_target: "checkboxSelectAll" }
    = render partial: 'shared/toggle_button', locals: {button_data: {field_checkbox_target: 'buttonSelectAll', action: 'click->field-checkbox#selectAllToggle'}, span_1_data: {field_checkbox_target: 'span1SelectAll'}, span_2_data: {field_checkbox_target: 'span2SelectAll'}, span_3_data: {field_checkbox_target: 'span3SelectAll'}}
    = label_tag 'select_all', t('forms_controller.select_all_label'), class: 'ml-2 block text-xl text-shadowy-200'
  - Form::ADMITED_FORM_FIELDS.group_by { |_, field_attrs| field_attrs[:section] }.each do |section, fields|
    .border-b.pb-4.mb-10{class: 'border-shadowy-200/10'}
      %h2.text-base.font-semibold.leading-7.text-shadowy-200.mt-6= t("forms_controller.section.#{section}")
      %p.mt-1.text-sm.leading-6.text-gray-400.mb-4= t("forms_controller.section.#{section}_description")
      .grid.grid-cols-1.md:grid-cols-3.gap-4
        - fields.each do |column_name, _|
          .p-4.cursor-pointer.bg-shadowy-700.rounded-xl{class: "hover:ring-1 hover:ring-primary #{@form.fields.dig(column_name.to_s, 'include') ? 'ring-1 ring-primary' : ''}", data: { action: "click->field-checkbox#toggleCheckbox", field_checkbox_target: "container" }}
            .flex.items-center.justify-between.gap-3.text-sm.mb-2
              = check_box_tag "form[fields][#{column_name}][include]", "true", @form.fields.dig(column_name.to_s, 'include'), id: "#{column_name}_include", class: 'hidden', data: { field_checkbox_target: "checkbox", action: 'change->field-checkbox#updateSwitchVisual' }
              = label_tag '', t("fields.#{column_name}"), for: "#{column_name}-include", class: 'block text-sm font-medium leading-6 text-sm text-shadowy-200'
              = render partial: 'shared/toggle_button', locals: {button_data: {field_checkbox_target: 'button'}, span_1_data: {field_checkbox_target: 'span1'}, span_2_data: {field_checkbox_target: 'span2'}, span_3_data: {field_checkbox_target: 'span3'}}
            = text_field_tag "form[fields][#{column_name}][label]", @form['fields'].dig(column_name.to_s, "label"), class: 'mt-1 w-full block rounded-full border-gray-300 p-3.5 focus:border-primary focus:ring-primary sm:text-sm', placeholder: t('forms_controller.additional_info_placeholder'), id: "form_fields_#{column_name}_label"

  .border-b.pb-4.mb-10{class: 'border-shadowy-200/10'}
    %h2.text-base.font-semibold.leading-7.text-shadowy-200.mt-6= t("forms_controller.section.skills")
    %p.mt-1.text-sm.leading-6.text-gray-400.mb-4= t("forms_controller.section.skills_description")
    .grid.grid-cols-1.md:grid-cols-3.gap-4
      - Form::FEATURES_OPTIONS.each do |column_name, _|
        .p-4.cursor-pointer.bg-shadowy-700.text-white.rounded-xl{class: "hover:ring-1 hover:ring-primary #{@form.fields.dig(column_name.to_s, 'include') ? 'ring-1 ring-primary' : ''}", data: { action: "click->field-checkbox#toggleCheckbox", field_checkbox_target: "container" }}
          .flex.items-center.justify-between.gap-3.text-sm.mb-2
            = check_box_tag "form[fields][#{column_name}][include]", "true", @form.fields.dig(column_name.to_s, 'include'), id: "#{column_name}_include", class: 'hidden', data: { field_checkbox_target: "checkbox", action: 'change->field-checkbox#updateSwitchVisual' }
            = label_tag '', t("fields.#{column_name}"), for: "#{column_name}-include", class: 'block text-sm font-medium leading-6 text-sm text-shadowy-200'
            = render partial: 'shared/toggle_button', locals: {button_data: {field_checkbox_target: 'button'}, span_1_data: {field_checkbox_target: 'span1'}, span_2_data: {field_checkbox_target: 'span2'}, span_3_data: {field_checkbox_target: 'span3'}}
          = text_field_tag "form[fields][#{column_name}][label]", @form['fields'].dig(column_name.to_s, "label"), class: 'mt-1 w-full block rounded-full border-gray-300 p-3.5 focus:border-primary focus:ring-primary sm:text-sm', placeholder: t('forms_controller.additional_info_placeholder'), id: "form_fields_#{column_name}_label"

  .mt-4.text-center
    = form.submit submit_button_text, class: "btn-primary"

