.section-image-with-text.mt-6.mb-6.text-gray-400{data: {controller: 'form-header'}}
  .container.mx-auto
    - if @form.description_photo.attached?
      .image-container.flex.justify-center.md:float-left.mr-4.mb-4{data:{form_header_target: 'image' }}
        = image_tag @form.description_photo, alt: "Form Description", class: "object-cover rounded-lg shadow-lg max-w-full h-auto md:max-w-1/2"

    .text-container.w-full
      %p.text-base.text-shadowy-200.leading-relaxed= @form.description&.html_safe

.container.mx-auto.clear-both
  = form_with model: [:manager, @profile], local: true, class: "space-y-12", data: { controller: 'form-show' } do |form|
    = form.hidden_field :token, value: params[:token]
    - @filtered_admited_form_fields.group_by { |_, field_attrs| field_attrs[:section] }.each do |section, fields|
      .border-b.pb-12{class: 'border-shadowy-200/10'}
        %h2.text-base.font-semibold.leading-7.text-shadowy-200= t("forms_controller.section.#{section}")
        %p.mt-1.text-sm.leading-6.text-gray-400= t("forms_controller.section.#{section}_description")

        .mt-10.grid.grid-cols-1.gap-x-6.gap-y-8.sm:grid-cols-6
          - fields.each do |field_name, field_attrs|
            .sm:col-span-2
              - case field_attrs[:type]
              - when 'string', 'email', 'integer', 'date'
                = render InputComponent.new(form: form, key: field_name.to_sym, type: Form::INPUT_TYPES[field_attrs[:type]], label: t("fields.#{field_name}"), model: @profile, info_message: @form['fields'][field_name.to_s]['label'])
              - when 'select'
                = render SelectComponent.new(key: field_name.to_sym, label: t("fields.#{field_name}"), options_for_select: options_for_select(Form.const_get("#{field_name.upcase}_OPTIONS").map { |value| [ t("forms_controller.multiselect_texts.#{field_name}.#{value}"), value ] }, selected: @profile.send(field_name)), form: form, model: @profile, info_message: @form['fields'][field_name.to_s]['label'])
              - when 'boolean'
                = render CustomCheckboxComponent.new(form: form, key: field_name, checked: @profile[field_name], value: @profile[field_name], model: @profile, info_message: @form['fields'][field_name.to_s]['label'])
              - when 'multiselect'
                = render SelectComponent.new( form: form, key: field_name, options_for_select: options_for_select(Form.const_get("#{field_name.upcase}_OPTIONS").map { |value| [t("forms_controller.multiselect_texts.#{field_name}.#{value}"), value] }, @profile.send(field_name)),  model: @profile, label: t("fields.#{field_name}"), multiple: true, info_message: @form['fields'][field_name.to_s]['label'])
              - when 'image'
                = render UploadFileComponent.new( form: form,
                                                  model: :profile,
                                                  attribute: field_name.to_sym,
                                                  multiple: false,
                                                  icon: 'camera',
                                                  accepted_types: %w[png jpg jpeg heic],
                                                  max_size_mb: 5,
                                                  extra_actions: ['autosave#save'], info_message: @form['fields'][field_name.to_s]['label'] )
              - when 'video'
                = render UploadFileComponent.new( form: form,
                                                  model: :profile,
                                                  attribute: field_name.to_sym,
                                                  multiple: false,
                                                  icon: 'camera-video',
                                                  accepted_types: %w[mov mp4 avi],
                                                  max_size_mb: 5,
                                                  extra_actions: ['autosave#save'], info_message: @form['fields'][field_name.to_s]['label'] )
    .border-b.pb-12{class: 'border-shadowy-200/10'}
      %h2.text-base.font-semibold.leading-7.text-shadowy-200= t("forms_controller.section.skills")
      %p.mt-1.text-sm.leading-6.text-gray-400= t("forms_controller.section.skills_description")

      .mt-10.grid.grid-cols-1.gap-x-6.gap-y-8.sm:grid-cols-6
        - @filtered_featured_options.each do |key, options|
          .sm:col-span-2
            = render SelectComponent.new( form: form, key: key, options_for_select: options_for_select(options.map{|option|[t("fields.#{option}"), option]}, @profile.send(key)),  model: @profile, label: t("fields.#{key}"), multiple: true)


    .mt-4.text-center
      = form.submit t('labels.send'), class: "inline-flex items-center bg-primary rounded-full px-4 py-3 text-md font-semibold text-dark transition duration-200 cursor-pointer hover:bg-dark hover:text-primary hover:ring-1 hover:ring-primary hover:transition-all focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
