= render EmailCenteredTextComponent.new(font_size: '32px', line_height: 1, extra_styles: 'font-weight:bold;', text: t('reset_password_instructions.greeting', full_name: @resource.full_name))

= render EmailCenteredTextComponent.new(text: t('reset_password_instructions.instruction'))

= render EmailCenteredButtonComponent.new(text: t('reset_password_instructions.change_password_button'), url: edit_password_url(@resource, reset_password_token: @token))

= render EmailCenteredTextComponent.new(text: t('reset_password_instructions.ignore_message'))

= render EmailCenteredTextComponent.new(text: t('reset_password_instructions.password_change_confirmation'))

