!!!
%html.h-full.bg-gray-900
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Castvault

    %meta{content: "#{I18n.t('javascript.confirm.title')}", name: "i18n-confirm-title"}/
    %meta{content: "#{I18n.t('javascript.confirm.confirm_button')}", name: "i18n-confirm-button"}/
    %meta{content: "#{I18n.t('javascript.confirm.cancel_button')}", name: "i18n-cancel-button"}/

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body.h-full
    = render FlashMessageComponent.new( message: flash.first.nil? ? nil : flash.first[1], type: flash.first.nil? ? nil : flash.first[0], delay: 10000 )
    = render SidebarComponent.new(current_user: current_user) do
      = yield
